body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(135deg, #fdfdfd, #f5f5f5); /* Off-white gradient */
}



.navbar-brand {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font for navbar brand */
    font-size: 24px; /* Adjust as needed */
    font-style: italic;
    font-weight: bold; /* Make the navbar brand text bold */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Larger grey shadow for navbar brand */
}

.container {
    position: relative;
    padding-top: 60px; /* Adjust for navbar height */
}

.scrolling-text {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font for scrolling text */
    font-size: 6vw;
    font-style: italic;
    font-weight: bold; /* Make the text bold */
    color: rgba(0, 0, 0, 0.7); /* Text color (black with transparency) */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Larger grey shadow for scrolling text */
    width: 75%;
    white-space: nowrap;
    position: absolute;
    top: 60px; /* Initial position below navbar */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: top 0.3s ease;
}
.subheading1 {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font for subheading */
    font-size: 2vw; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make the subheading bold */
    color: rgba(0, 0, 0, 0.7); /* Text color (black with transparency) */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Larger grey shadow for subheading */
    margin-top: 220px; /* Adjust margin top */
    margin-left: 200px; 

}


.subheading2 {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font for subheading */
    font-size: 2vw; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make the subheading bold */
    color: rgba(0, 0, 0, 0.7); /* Text color (black with transparency) */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Larger grey shadow for subheading */
    margin-top: -55px; /* Adjust margin top */
    margin-left: 1150px; 

}

.base-text {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font if available */
    font-size: 16px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold; /* Make the base text bold */
    color: rgba(0, 0, 0, 0.8); /* Text color (black with transparency) */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Shadow */
    margin-top: 50px; /* Adjust margin top */
    margin-left: 100px;
    margin-right: 1100px;
}


.image1 {

    margin-left:1000px;
    margin-top:-250px; 
   

}

.subheading3 {
    font-family: 'Supreme', Arial, sans-serif; /* Use Supreme font for subheading */
    font-size: 2vw; /* Adjust font size */
    font-style: italic;
    font-weight: bold; /* Make the subheading bold */
    color: rgba(0, 0, 0, 0.7); /* Text color (black with transparency) */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Larger grey shadow for subheading */
    margin-top: 50px; /* Adjust margin top */
    margin-left: 20%; 

}


.image2 {

    margin-left: 220px; 
    

}

.upload-container {
    align-items: center;
    position: relative;
    top: 200px;
    left: 15%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;

}

.upload-label {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    text-align: center;
}

#folderUpload {
    display: none; /* Hide the actual file input */
}

.input-container {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Adjust width as needed */
}

.input-subheading {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; /* Spacing between subheading and textbox */
    margin-top: 250px;
}

.styled-textbox {
    width: 30%; /* Full width of the container */
    height: 150px; /* Adjust height as needed */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 0px;
}

.input-container {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Adjust width as needed */
}

.input-subheading {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; /* Spacing between subheading and input box */
}

.log2fold-container {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Adjust width as needed */
}

.log2fold-subheading {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; /* Spacing between subheading and input box */
    position: absolute; 
    margin-left: 700px;
    margin-top: -420px;
}

.log2fold-textbox {
    width: 13%; /* Full width of the container */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-left: 700px; 
    margin-top: -380px; 
    position: absolute; 

}

.pvalue-container {
    position: relative;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Adjust width as needed */
}

.pvalue-subheading {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-left: 700px;
    margin-top: -205px; 
}

.pvalue-textbox {
    width: 13%; /* Full width of the container */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: absolute; 
    margin-left: 700px;
    margin-top: -165px; 


}




.topgenes-container {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-top: 20px;
    width: 80%; /* Adjust width as needed */
}

.topgenes-subheading {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; /* Spacing between subheading and input box */
    position: absolute; 
    margin-top: -530px;
    margin-left: 1200px;
}

.topgenes-textbox {
    width: 15%; /* Full width of the container */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: absolute; 
    margin-top: -460px;
    margin-left: 1240px;


}

.button-container {
    position: relative;
    top: -50px;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
    margin-left: 1550px;
}

.start-button {
    font-family: 'Supreme', Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-style: italic;
    font-weight: bold;
    color: #333;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, color 0.3s;
}

.start-button:hover {
    background-color: #e0e0e0;
    color: #000;
}

/* Chatbot interface */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px;
    overflow: hidden;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width for larger screens */
    margin: 50px auto; /* Center horizontally and add vertical margin */
}

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-messages {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.user-message {
    background-color: #e0f7fa;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
}

.bot-message {
    background-color: #b2dfdb;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-end;
}

.chat-input-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f5f5f5; /* Light background color */
}

.chat-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.send-button {
    background-color: #020503;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.send-button:hover {
    background-color: #000000;
}
