body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.box {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.title {
    font-size: 2em;
}

.result-textbox {
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 1em;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    text-align: left;
}
